<mat-card class="card mat-elevation-z8" >
  <mat-card-header>
    <mat-card-title>Teste Angular/Node</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="assets/img/Caixa.svg" alt="Image caixa produto">
  <mat-card-content>
    <p>
      Olá! Seja bem vindo ao sistema de Cadastro do teste API NODE <br />
      Esse é um sistema para gerenciamento de cadastro de Produto <br />
      <br /><br /> Fique a vontade para testar o sistema e deixar sua sugestão.
      <br /> Itaitã Araujo
     </p>
     <address>
        <a href="itaitan2@gmail.com"> itaitan2@gmail.com</a>
    </address>
  </mat-card-content>
</mat-card>
