.container{
  height: 100%;
}

.sidenav{
  width: 13rem;
  color: white;

  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}

.sidenav a {
  color: white;

}

.sidenav i {
  margin-right: 0.6rem;

}

.menu {
  margin: 1rem 0 0 1rem;
  color: white;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}


